.carouselContainer {
    margin: auto;
    width: 80%;
    display: flex;
    height: 400px;
    align-self: center;
    height: 90vh;
}

.carouselContainer .arrow {
    width: 50px;
    cursor: pointer;
    opacity: 0.5;
}

.carouselContainer .arrow:hover {
    opacity: 1;
}

.carouselContainer .carousel {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.carouselContainer .carousel .content {
    width: 100%;
    min-width: 200px;
    max-height: 800px;
}

.carouselContainer .carousel .currentPicture {
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.carouselContainer .carousel .circleIcon {
   width: 10px;
   opacity: 0.3;
}

.carouselContainer .carousel .circleIcon.selected {
    opacity: 1;
}